body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    background-color: #690f74;
    color: #fff;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 100px;
}

input[type="file"] {
    margin-top: 5px;
}

button {
    background-color: #690f74;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

button:hover {
    background-color: #dc0589;
}
/* Styles pour l'alerte de base */
.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}


.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}



@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}
