<div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              update Question
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form >
              <div class="form-group">
                <mat-form-field class="w-100">
                  <textarea [(ngModel)]="questions.content" name="content" matInput placeholder="Question" required></textarea>
                </mat-form-field>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <input [(ngModel)]="questions.option1" name="option1" matInput placeholder="Option 1" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <input [(ngModel)]="questions.option2" name="option2" matInput placeholder="Option 2" required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <input [(ngModel)]="questions.option3" name="option3" matInput placeholder="Option 3" required>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100">
                      <input [(ngModel)]="questions.option4" name="option4" matInput placeholder="Option 4" required>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <mat-form-field style="display: block ;margin: 0 auto;">
                <mat-select placeholder="Correct Answer" [(ngModel)]="questions.answer" name="answers" required>
                  <mat-option *ngIf="questions.option1" [value]="questions.option1">{{questions.option1}}</mat-option>
                  <mat-option *ngIf="questions.option2" [value]="questions.option2">{{questions.option2}}</mat-option>
                  <mat-option *ngIf="questions.option3" [value]="questions.option3">{{questions.option3}}</mat-option>
                  <mat-option *ngIf="questions.option4" [value]="questions.option4">{{questions.option4}}</mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-raised-button color="accent" type="submit" (click)="updateQuestion()"><i>Update</i> Question</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
