.category-card {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.category-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.category-list {
  list-style: none;
  padding: 0;
}

.category-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.category-icon {
  font-size: 24px;
  color: #007bff;
  margin-right: 15px;
}

.category-details {
  flex-grow: 1;
}

.category-title {
  font-size: 18px;
  font-weight: bold;
}

.category-description {
  color: #555;
  margin-top: 5px;
}

.add-category-button {
  background-color: #ff00ea;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px
}

.add-category-button:hover {
  background-color: #0056b3;
}
