<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h1>Available quizzes</h1>
        <div class="row" *ngIf="quizzes">
            <div class="col-md-4" *ngFor="let quiz of quizzes"
          >
             <mat-card class="example-card">
                <mat-card-header>
                     <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>
                        <div class="mat-subheader" >{{quiz?.title}}</div>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <div *ngFor="let c of categories">
                       <span class="mat-subheader">{{c.title}}</span>
                       </div>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="truncate">
                    <p>{{quiz?.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" [routerLink]="'/user/instructions/'+quiz.id" >Start</button>
                    <button mat-button color="accent" >View</button>
                    <button mat-button color="primary" >Questions:{{quiz.numberOfQuestion}}</button>
                    <button mat-button color="accent" >MM:{{quiz.maxMarks}}</button>
                </mat-card-actions>
             </mat-card>
            </div>
            <div class="col-md-12" *ngIf="quizzes.length==0">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <div class="mat-subheader">No quizzes available</div>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>There are no quizzes available at the moment. Please check back later.</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
